.bgimage {
    height: 100vh;
    background-image: url(../res/yellowPen.jpg);
    background-size: cover;
    position: relative;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbarScroll:focus .navbar {
    background-color: black;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #000000;
}

.servicesText:hover {
    border: 4px solid #da0f0f;
}


#datipersonali,
#tecnologie,
#portfolio,
#contatti {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contatti {
    padding-bottom: 4rem;
}


/* icone social media */


.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: rgb(211, 211, 37);
}
.fab {
    color:white;
    font-size: 40px;
    margin-right: 10px;
}
